#back {
    background-color: aqua;
}

#back h1{
    font-family: 'Fondamento', cursive;
    color: black;
}

#front
{

	color:black;
	font-color:white;
	font-size:4rem;
	font-style:bold;
	font-family:cursive;

}

#front1
{
	background-color: black;
	
}