#back {
    background-color: aqua;
}

#back h1{
    font-family: 'Fondamento', cursive;
    color: black;
}

#front
{

	color:black;
	font-color:white;
	font-size:4rem;
	font-style:bold;
	font-family:cursive;

}

#front1
{
	background-color: black;
	
}

#anu
{
	background-color:Tomato;
	
}

#anu h1{
	
	font-family: 'Fondamento', cursive;
    color: black;
}

#anu h2{
	
	font-family: 'Fondamento', cursive;
    color: black;
}

#fro
{
	font-color: white;
	font-family: 'Fondamento', cursive;
	font-size:4rem;
}

#an
{
	background-color:Orange;
	
}

#an h1{
	font-family: 'Fondamento', cursive;
    color: black;
	
}

#an1
{
	background-color:MediumSeaGreen;
	
}

#an1 h1{
	font-family: 'Itim', cursive;
    color: black;
}

#an1 h2{
	font-family: 'Itim', cursive;
    color: black;
}

#an1 h3{
	font-family: 'Itim', cursive;
    color: black;
}

#an2
{
	background-color:hsl(39, 100%, 50%);
}

#an2 h1{
	font-family: 'Itim', cursive;
    color: black;
	font-size: 50px;
}
#an2 h2{
	font-family: 'Itim', cursive;
    color: black;
	font-size: 40px;
}

#a{
	
	color: white;

}

#bc p
{
	font-family: 'Itim', cursive;
}

#d
{
	font-family: 'Merienda One', cursive;
	background-color: black;
	color: white;
}
#e
{
	
}